body {
    color: #434455;
    font-family: "Roboto", 'Verdana', sans-serif;
    background-color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5; }

.contacts .link:hover, .contacts .link:focus {
    color: #404bbf
}

h1 {
font-size: 56px;
line-height: 1.07;
color: #fff;
}
.section-title, .name, .logo {
    color: #2e2f42;
}

.name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
}

.logo .web {
    color: #4d5ae5;
}

.page-nav {
    font-weight: 500;
}

.page-nav .link:focus {
    color: #404bbf;
}
.button {
    color: #fff;
    background-color: #4d5ae5;;
}
.button  .link:focus {
background-color: #404bbf;
cursor: pointer;
}

.first-section, .page-footer {
background-color: #2e2f42;
}

.section-title {
    font-size: 36px;
}